body {
    
   overflow-x: hidden;
   
    background-color: #F2F2F2;
}



/*Layout*/

.wrapper {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;  
  
}

.site-nav {
  display: flex;
}


.container-flex {
    display: flex;
    justify-content: space-between;
}

.container-flex-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position:absolute;
    height: 80px;
    left:0;
    right:0;
    background-color: #1B262F;
}

header { 
    padding: 2rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;   
}

nav li {
    margin-left: 2rem;
    margin-top: -8px; 
}

.form-section {
  position: relative;
}

.form-input-section {
  display: flex;
  flex-direction: row;
  
}

.input-field {
  
  height: 46px;
  width: 445px;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}

.schedule-demo {
  position: absolute;
  left: 400px;
}

.container {
  position: relative;
}

.circle {
  display: flex;
 position: absolute;
width: 780px;
height: 780px;
left: 800px;
top: -172px;
}

.phone {
  position: relative;
  left: 800px;
  bottom: 450px;
 
}

.main-mid-section {
  display: flex;
}


.logo-grid {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 3vw);
    grid-gap: 12px;
    margin-top: 140px;
    margin-left: 140px;
    margin-right: 80px;
}

.about-us {
  margin-top: 20px;
}

.main-mid-section {

position:absolute;
left:0;
right:0;
height: 400px;
background: #1B262F;
margin-top: 100px;
}

.main-mid-left {
  margin: 0 auto;
  
  
}

.main-bottom {
  margin-top: 600px;
  display: flex;
}

.bottom-right-p {
  margin-top: 60px;
}

.main-bottom-two {
 margin-left: 50px;
 display: flex;
  
}

.main-bottom-three {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.Personal-finances, .Banking-cov {
  margin-right: 40px;
}

.main-bottom-four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.site-nav-footer {
 display: flex;
 margin-top: 20px;
 margin-left: 150px;
 
}

.social-logos {
 margin-top: 30px;
 margin-right: 150px;
}

.facebook {
  margin-right: 10px;
}

.twitter {
  margin-right: 10px;
}

.price-header {
  display: flex;
  margin-top: 20px;
}

.price-nav {
  margin-top: 15px;
}

.price-page {
  
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;  
}

.price-wrapper {
  background-color: pink;
}


.price-main-section {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

}

.free-plan, .basic-plan {
  margin-right: 40px;
}

ul {
    list-style-type: none;
    
}

.ready-price-contact {
  display: flex;
  margin-top: 60px;
  
}

.aboutus-section-one, .aboutus-section-two {
  display: flex; 
}

.about-h2 {
  margin-right: 100px;
}

.team {
  display: flex;
  margin-top: 50px;
  width: 1140px;
}

.bottom-info-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}


/*Typography*/

.menu-items {
  color: #FBFCFE;
}

.mid-heading {
  font-family: Public Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692307770252228px;
  color: #FBFCFE;
}

.mid-p {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  color: #FBFCFE;

}

.questions {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #6C8294;
}

.contact-us {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  color: #6C8294;
}


.result-p {
  font-family: Public Sans;
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0px;
color: #BA4270;;

}

.input-field {
  font-family: Public Sans;
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0px;
text-align: center;
box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
border: none;
background: #FBFCFE;
color: #ced3d7;

}

.schedule-demo {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.11538461595773697px;
  text-align: left;
  color: #FBFCFE;
  background-color: #BA4270;
  height: 48px;
  width: 173px;
  border-radius: 24px;
  text-align: center;
  border: none;
}

a:link { 
  text-decoration: none; 
  
}

a:visited { 
 text-decoration: none; 
 color: #36536B; 
}

.logo {
  margin-top: 5px;
  height: 38px;
}

.header-button {
  border: 1px solid black;
  background-color: transparent;
  color: #36536B;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.11538461595773697px;
  margin-top: 20px;




}

button {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.11538461595773697px;
  text-align: left;
  color: #FBFCFE;
  background-color: #BA4270;
  height: 48px;
  width: 173px;
  border-radius: 24px;
  text-align: center;
  border: none;
}

.main-top-section {
  font-family: Public Sans;
  
  height: 500px;
}

h1 {
  font-family: Public Sans;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.5538461804389954px;
}

.bottom-heading {
  font-family: Public Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692307770252228px;
  color: #36536B;
}


.bottom-p {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  color: #36536B;

}

.top-heading {
  color: #36536B;
  font-family: Public Sans;
}

.bottom-three-heading {
  font-family: Public Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.13846154510974884px;
  color: #36536B;
}

.ready-to-start {
  font-family: Public Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692307770252228px;
  color: #36536B;
  margin-top: 0;
}

.price-title {
  font-family: Public Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.2461538463830948px;
  color: #BA4270;
}

.price-amount {
  font-family: Public Sans;
  font-size: 46px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.4307692348957062px;


}

li {
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    color: #36536B;
}

.price-p {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  color:#6C8294;
}

.ready-price-page {
  font-family: Public Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692307770252228px;
  color: #36536B;
  margin-right: 200px;
  margin-top: 0px;


}

.innovators {
  font-family: Public Sans;
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.4307692348957062px;
  color: #36536B;
}

.about-h2 {
  font-family: Public Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.2461538463830948px;
  color: #36536B;
  
}

.about-h2-top {
  font-family: Public Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.2461538463830948px;
  color: #36536B;
  margin-right: 140px;
}

.about-p {
  font-family: Public Sans;
  color: #36536B;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  margin-top: 30px;
}

.bottom-info-h3 {
  font-family: Public Sans;
  color: #36536B;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

}

.bottom-info-p {
  font-family: Public Sans;
  color: #BA4270;
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.4307692348957062px;
  margin-top: -20px;
  margin-bottom: 0;
 
}

/*MQ tablet*/

@media  (max-width: 1052px) {
/*MQ tablet home*/

  .wrapper {
    display: flex;
    max-width: 768px; /*adjust the width to auto adjust*/
    margin: 0 auto;
   
    
  }

  .phone {
  display: none;
 
}

.phoneMobile {
  position: relative;
  left: 520px;
  bottom: 400px;

}

.circle {
  display: none;
  }

.top-heading {
  font-size: 48px;
  font-family: DM Serif Display;
  font-size: 60px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: -0.3692307770252228px;

}

.main-mid-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  position:absolute;
  width: 768px;
  height: 615px;
  top: 600px;
  background: #1B262F;

}


.implement {
  margin-left: 50px;
}

.main-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
 
}

.bottom-right-p {
  
  margin-top: -100px;
  margin-bottom: 50px;

}

.main-bottom-two {
  display: none;
}

.main-bottom-three {
  margin-bottom: 100px;

}

.main-bottom-four {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*MQ tablet price*/

.ready-price-page{
  display: none;
}

.price-main-section {
 
  margin: 0 auto;
  text-align: center;

}

.price-title {
  font-size: 24px;
}
 .price-p {
  font-size: 10px;
  line-height: 20px;
 }

.list-li {
  font-size: 10px;
  line-height: 20px;
  align-items: center;
 }

 .price-amount {
  font-size: 35px;
 }

 .line {
  width: 250px;
 }

 .price-items {
  margin-right: 40px;

 }

 /*MQ tablet about*/
 .innovators {
  font-size: 48px;
 
  
 }

 .about-h2-top, .about-h2  {
  font-size: 20px;
  margin-bottom: -30px;
  
  
 }

 .about-h2-top {
  margin-right: 130px;
 }

 .team {
  width: 769px;
height: 267px;


 }

 .aboutus-section-two, .aboutus-section-one {
  display: flex;
  flex-direction: column;
  
 }

}

 /*MQ mobile home*/

 @media  (max-width: 500px) {
  .wrapper {
    max-width: 375px;
    margin: 0 auto;
    
  }

  .main-top-section {
   
  margin: 0 auto;
  position:absolute;
  }

.input-field { 
  width: 370px;
  left: 35px;
}


.schedule-demo {
  top: 60px;
  left: 0px;
  width: 370px;
}

.main-mid-section {
  width: 500px;
}

.about-us {
  margin-bottom: 80px;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  text-align: center;
  margin: 0 auto; 

}

.main-bottom {
  margin-top: 1100px;
  margin-left: -140px;  
}

.main-bottom-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  
}

.consumer-payments   {
 margin-right: 30px;
 
}

.main-bottom-four {
  text-align: center;
  margin: 0 auto;
  position:absolute;
  margin-bottom: 500px;
  
}

.container-flex-footer {
  display: none;
}


.main-bottom-four {
 
 padding-bottom: 80px;
}

/*MQ mobile about*/
.innovators {
  font-size: 32px;
  line-height: 36px;
 
  
 }

 .about-h2-top, .about-h2  {
  font-size: 20px;
  margin-bottom: -30px;
  
  
 }

 .about-h2-top {
  margin-right: 130px;
 }

 .team {
  width: 390px;
height: 200px;


 }

 .aboutus-section-two, .aboutus-section-one {
  display: flex;
  flex-direction: column;
  width: 390px;
  
  
  
 }

 .about-p {
  font-size: 15px;
  line-height: 25px;
 }

 .bottom-info-section {
  display: flex;
  flex-direction: column;
  
 }

 .bottom-info, .bottom-info-h3  {
  text-align: center;
 }

 .about-page {
  margin-bottom: 100px;
 }

}










